.note-title-wrapper{
    display: flex;
    align-items: center;
}

.note-title{
    padding-left: 10px;
}

.note-body{

}

.note-created-on{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-note-panel{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.note-delete{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}